@import "tailwindcss";

@theme {
  --color-primary: #1e6b36;
  --color-background-light: #f6f7f8;
  --color-background-dark: #111921;
  --font-display: "Space Grotesk", sans-serif;
}

body {
  font-family: var(--font-display);
}
